<nav class="navbar navbar-light " style="background-color: rgb(74, 200, 120);">
    <a class="navbar-brand" href="http://localhost:4200/mainpage">
      <img src="\assets\b3f88e0d76254a0481d6dd87ad1a9256.png"  class="d-inline-block align-top" style="height: 2cm; width: 2cm;">
      
    </a><h3 style=" font-family: fantasy; font-size: 1.5cm; color: rgb(89, 86, 86);">500s everywhere</h3><div><a routerLink="loginpageutente"><button type="button" class="btn btn-secondary">Accesso Utente</button></a><div class="space">
    </div> <a routerLink="loginpageerogatore"><button type="button"  class="btn btn-secondary">Accesso Erogatore</button></a><div class="space">
    </div><a type="button" routerLink="registerutente"><button class="btn btn-secondary">Registrati</button></a></div>
  </nav>
  <router-outlet></router-outlet>
  







